<!DOCTYPE html>
<head>
	<base href="/">
</head>
<body>
	<div class="text-center align-middle border border-light p-5 myDiv">
		<div>
			<a class="nav-link" routerLink="/" href="#signin" ><H1 class="mb-4">Tick et Ting</H1></a>
		</div>

		<div><a class="nav-link" routerLink="/signin" href="#signin" ><button class="btn btn-dark mb-4 btn-lg">Se connecter</button></a></div>
		<div><a class="nav-link" routerLink="/signup" href="#signin" ><button type="button" class="btn btn-outline-dark mb-4 btn-lg">Inscription</button></a></div>

	</div>
</body>
